.game {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh; 
}

.board-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
  padding: 2em;
  justify-content: center;
  align-items: center;
}

.hud {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}