.title {
  flex: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title h1 {
  font-family: 'Signika';
  font-size: 3em;
  text-align: center;
}

.button-container {
  flex: 10;
}

.footer {
  flex: 1;
}

.footer p {
  font-size: 0.8em;
}
