.home .title {
  flex: 8;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2em;
}

.home .title h1 {
  font-family: 'Signika', sans-serif;
  font-size: 4em;
  text-align: center;
}

.button-container {
  flex: 10;
}

.footer {
  flex: 1;
}

.footer p {
  font-size: 0.8em;
}
