.screen-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.screen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: url('./bg.png') #F0F0C9;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
}

.button {
  transition: all 200ms ease-in-out;
  display: block;
  border-radius: 2em;
  margin: 0.4em;
  padding: 0 1.6em;
  font-family: 'Signika', sans-serif;
  line-height: 2em;
  font-size: 2em;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}
.button:hover {
  transform: scale(1.1);
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.button.animated {
  animation: scale 2s ease-in-out infinite;
}
.button:active {
  animation: none !important;
  transform: scale(0.9);
}
.button.primary {
  background: linear-gradient(#D00000, #C00401);
  box-shadow: 2px 2px 16px #C00401;
  color: #fff;
}
.button.secondary {
  background: linear-gradient(#6E0E0A, #5A0E0A);
  box-shadow: 2px 2px 16px #6E0E0A;
  color: #fff;
}

/* Screen fade transition */
.fade-enter {
  opacity: 0.01;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  z-index: 0;
  transition: all 500ms ease-in;
}

.fade-leave {
  opacity: 1;
  z-index: 0;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  z-index: 1;
  transition: all 500ms ease-in;
}
