.square {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
}

.square:last-child {
  border-right: transparent;
}

.row:last-child .square {
  border-bottom: transparent;
}