.square {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  border-right: 4px solid rgba(31,36,33, 0.6);
  border-bottom: 4px solid rgba(31,36,33, 0.6);
  cursor: pointer;
}

.square:last-child {
  border-right: transparent;
}

.row:last-child .square {
  border-bottom: transparent;
}
